*{
    margin: 0,0,0,0;
    padding: 0;
    box-sizing: border-box;
    
    background-color: rgb(98, 157, 216);
    
}

body{
    background-color: aqua;
    background: no-repeat url(./explore.jpg);
    background-position: 0,0,0,0;
    
}


nav{
 padding: 20px;   
 display: flex;
 align-items: center;
 

}

nav a{
    text-decoration: none;
    color: #333;
    font-weight: boldS;
    margin-left: 20px;
    margin-right: 20px;
}


h1{
    font-size: 70px;
}